// Structure
$max-width: 1040px;
$gutter: 20px;

// Colours
$white: #fff;
$dark-grey: #4A4A4A;
$light-grey: #CFCFCF;
$red: #C94945;
$blue: #6DBCCE;

// Typography
$sans-serif: 'Karla', sans-serif;
$display: 'Abril Fatface', 'Ultra', 'Bowlby One SC', serif;
